--swiftversion 5.8

# Excluded

--exclude Carthage,Pods,.build

# Enabled

--closingparen balanced
--commas always
--decimalgrouping ignore
--guardelse same-line
--ifdef outdent
--xcodeindentation enabled
--importgrouping testable-bottom
--ranges no-space
--trimwhitespace nonblank-lines
--wraparguments before-first
--wrapcollections before-first
--wrapeffects preserve
--wrapparameters before-first

# Disabled

--disable redundantReturn
--disable strongOutlets
--disable unusedArguments
--disable wrapMultilineStatementBraces
