.media-content {
  overflow: hidden;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.card.language {
  border-radius: 10px;
}

.footer {
  background-color: #222831;
  color: lemonchiffon;
}

.footer p,
strong {
  color: lemonchiffon;
}

.footer a:hover {
  color: crimson;
}

.fa {
  color: lemonchiffon;
  margin: 10px;
}
